<div>
 vamos a trabajar con websockets

 <h1>bienvenido</h1>

 <input type="text" name="" id="chatBOx">
 <p id="messageLogs"></p>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetaler2@11"></script>


<script src="js/index.js"></script>